<%- include('head-body-top') -%>

<ul>
    <li>
        <%= tableData.creator %>
    </li>
    <li>
        <%= tableData.cart_type %> (<%= (tableData.platform) %>)
    </li>
</ul>

<a href="/carts/id/<%= tableData.id %>/add-cart-to-user"><button>Update Cart for User</button></a>

<%- include('footer-body-bottom') -%>