<%- include('head-body-top') -%>

<ul>
    <li>
        <%= tableData.creator %>
    </li>
    <li>
        <%= tableData.cart_type %> (<%= (tableData.platform) %>)
    </li>
</ul>

<a href="/carts/id/<%= tableData.id %>/add-cart-to-user"><button>Update Cart for User</button></a>

<a href="#" id="delete-button"><button onclick="deleteCart()">Delete</button></a>

<noscript>
    <style>
        #delete-button {
            display: none;
        }
    </style>
    <div>
        <a href="/carts/id/<%= tableData.id %>/delete">
            <button>Delete</button>
        </a>
    </div>
</noscript>

<script>
    const deleteButton = document.querySelector("#delete-button");
    function deleteCart() {
        if (confirm("Are you sure you want to delete <%= tableData.title %>?")) {
            deleteButton.href = "/carts/id/<%= tableData.id %>/delete";
        }
    }
</script>

<%- include('footer-body-bottom') -%>