<%- include('head-body-top') -%>

<h2>Playlist</h2>
<ul>
<% tableData.forEach(data => { %>
    <% if (data.status === 'playlist') { %>
        <li>
            <a class="cart-title" href="/carts/id/<%= data.cart_id %>"><%= data.title %></a>, 
            <a href="/carts/creator/<%= data.creator %>"><%= data.creator %></a>, 
            <a href="/carts/cart_type/<%= data.cart_type %>"><%= data.cart_type %></a> 
            (<a href="/carts/platform/<%= data.platform %>"><%= (data.platform) %></a>), 
            <%= data.date_started %>
        </li>
    <% } %>
<% }); %>
</ul>

<h2>Shelf</h2>
<ul>
<% tableData.forEach(data => { %>
    <% if (data.status === 'shelf') { %>
        <li>
            <a class="cart-title" href="/carts/id/<%= data.cart_id %>"><%= data.title %></a>, 
            <a href="/carts/creator/<%= data.creator %>"><%= data.creator %></a>, 
            <a href="/carts/cart_type/<%= data.cart_type %>"><%= data.cart_type %></a> 
            (<a href="/carts/platform/<%= data.platform %>"><%= (data.platform) %></a>), 
            <%= data.date_added %><% if (data.rating > 0) { %>, 
            <%= data.rating %>/4<% }; %>
        </li>
    <% } %>
<% }); %>
</ul>

<h2>Bin</h2>
<ul>
<% tableData.forEach(data => { %>
    <% if (data.status === 'bin') { %>
        <li>
            <a class="cart-title" href="/carts/id/<%= data.cart_id %>"><%= data.title %></a>, 
            <a href="/carts/creator/<%= data.creator %>"><%= data.creator %></a>, 
            <a href="/carts/cart_type/<%= data.cart_type %>"><%= data.cart_type %></a> 
            (<a href="/carts/platform/<%= data.platform %>"><%= (data.platform) %></a>), 
            <%= data.date_finished %>
        </li>
    <% } %>
<% }); %>
</ul>

<h2>Trash</h2>
<ul>
<% tableData.forEach(data => { %>
    <% if (data.status === 'trash') { %>
        <li>
            <a class="cart-title" href="/carts/id/<%= data.cart_id %>"><%= data.title %></a>, 
            <a href="/carts/creator/<%= data.creator %>"><%= data.creator %></a>, 
            <a href="/carts/cart_type/<%= data.cart_type %>"><%= data.cart_type %></a> 
            (<a href="/carts/platform/<%= data.platform %>"><%= (data.platform) %></a>), 
            <%= data.date_finished %>
        </li>
    <% } %>
<% }); %>
</ul>

<a href="#" id="delete-button"><button onclick="deleteCart()">Delete</button></a>

<noscript>
    <style>
        #delete-button {
            display: none;
        }
    </style>
    <div>
        <a href="/users/id/<%= userID %>/delete">
            <button>Delete</button>
        </a>
    </div>
</noscript>

<script>
    const deleteButton = document.querySelector("#delete-button");
    function deleteCart() {
        if (confirm("Are you sure you want to delete <%= title %>?")) {
            deleteButton.href = "/users/id/<%= userID %>/delete";
        }
    }
</script>

<%- include('footer-body-bottom') -%>