<%- include('head-body-top') -%>

<p><%= tableData.map(data => data.username).join(', ') %></p>

<a href="users/new"><button>New</button></a>

<ul>
<% tableData.forEach(data => { %>
    <li>
        <a class="cart-title" href="/users/id/<%= data.id %>"><%= data.username %></a>
    </li>
<% }); %>
</ul>

<%- include('footer-body-bottom') -%>